{% extends 'base.html.twig' %}

{% block title %}Treatment index{% endblock %}

{% block body %}
    <div class="app-page-title mb-1">
        <div class="page-title-wrapper">
            <div class="page-title-heading">
                <div class="page-title-icon">
                    <i class="pe-7s-graph text-success">
                    </i>
                </div>
                <div>Treatment List
                    <div class="page-title-subheading">Database of all the Treatments
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="card mb-3">
        <div class="card-header">
            <i class="fas fa-table"></i>
            Patients</div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
            <tr>
                <th>Name</th>
                <th>Cost</th>
                <th>Equipment</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for treatment in treatments %}
            <tr>

                <td>{{ treatment.name }}</td>
                <td>${{ treatment.cost }}</td>
                <td>{{ treatment.equipment }}</td>

                <td>
                        <div class="btn btn-primary btn-sm">
                            <a class="text-white" href="{{ path('treatment_show', {'id': treatment.id}) }}">View</a>
                        </div>
                        <div class="btn btn-primary btn-sm">
                            <a class="text-white" href="{{ path('treatment_edit', {'id': treatment.id}) }}">Edit</a>
                        </div>

                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    </div>
    </div>
    <div class="card-footer small text-muted">Updated at {{ "now"|date("d-m-Y")}}</div>
    </div>

    <a href="{{ path('treatment_new') }}">Create new</a>
{% endblock %}
