{% extends 'base.html.twig' %}

{% block title %}Brand index{% endblock %}

{% block body %}
    <div class="app-page-title mb-1">
        <div class="page-title-wrapper">
            <div class="page-title-heading">
                <div class="page-title-icon">
                    <i class="pe-7s-graph text-success">
                    </i>
                </div>
                <div>Store List
                    <div class="page-title-subheading">Database of all the Stores
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="card mb-3">
        <div class="card-header">
            <i class="fas fa-table"></i>
            Brands</div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                    <tr>
                        <th>Name</th>
                        <th>Location</th>
                        <th>Actions</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for store in stores %}
                        <tr>

                            <td>{{ store.name }}</td>
                            <td>{{ store.location }}</td>

                            <td>
                                <a href="{{ path('store_show', {'id': store.id}) }}">Show</a>
                                <a href="{{ path('store_edit', {'id': store.id}) }}">Edit</a>
                            </td>
                        </tr>
                    {% else %}
                        <tr>
                            <td colspan="4">no records found</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        <div class="card-footer small text-muted">Updated yesterday at 11:59 PM</div>
    </div>

    <a href="{{ path('store_new') }}">Create new</a>
{% endblock %}




